global:
  vault:
    role: f4a30d-nonprod
    subPath: strdss-test
  env:
    'Logging__LogLevel__Default': 'Warning'
    'Logging__LogLevel__StrDss.Common.StrDssLogger': 'Information'
    'ASPNETCORE_ENVIRONMENT': 'Test'
    'ENV_NAME': 'test'
    'APP_BASE_URL': 'https://test.strdata.gov.bc.ca'
    'SSO_CLIENT': 'str-dss-5303'
    'SSO_HOST': 'https://dev.loginproxy.gov.bc.ca/auth'
    'SSO_REALM': 'standard'
    'SSO_AUTHORITY': 'https://dev.loginproxy.gov.bc.ca/auth/realms/standard'
    'SM_LOGOFF_URL': 'https://logontest7.gov.bc.ca/clp-cgi/logoff.cgi/'
    'CHES_TOKEN_URL': 'https://dev.loginproxy.gov.bc.ca/auth/realms/comsvcauth/protocol/openid-connect/token'
    'CHES_URL': 'https://ches-dev.api.gov.bc.ca'
    'RENTAL_LISTING_REPORT_MAX_SIZE': '30'
    'BCEID_URL': 'https://gws1.development.bceid.ca/webservices/client/v10/bceidservice.asmx'
    'BCEID_CACHE_LIFESPAN': '600'
    'GEOCODER_URL': 'https://geocodertst.api.gov.bc.ca'
    'ADDRESS_SCORE': '90'
    
nameOverride: strdss-test
fullnameOverride: strdss-test

route:
  host: test-strdata.apps.silver.devops.gov.bc.ca
  baseService: strdss-test

frontend:
  enabled: true
  replicaCount: 1
  nameOverride: strdss-test-frontend
  fullnameOverride: strdss-test-frontend
  secretName: strdss-secrets-test

  resources:
    limits:
      cpu: 30m
      memory: 70Mi
    requests:
      cpu: 20m
      memory: 50Mi

  env:
    'API_HOST': '/api'

backend:
  enabled: true
  replicaCount: 1
  nameOverride: strdss-test-backend
  fullnameOverride: strdss-test-backend
  secretName: strdss-secrets-test
  dbSecretName: strdsstest-pguser-strdsstest
  crunchydb: false

  resources:
    limits:
      cpu: 100m
      memory: 300Mi
    requests:
      cpu: 20m
      memory: 200Mi

  env:
    'API_HOST': '/api'

hangfire:
  enabled: true
  replicaCount: 1
  nameOverride: strdss-test-hangfire
  fullnameOverride: strdss-test-hangfire
  secretName: strdss-secrets-test
  dbSecretName: strdsstest-pguser-strdsstest
  crunchydb: false

  resources:
    limits:
      cpu: 100m
      memory: 300Mi
    requests:
      cpu: 20m
      memory: 200Mi

  env:
    'API_HOST': '/api'