:host {
    width: 100%;

    h2 {
        padding: 0;
        font-size: 24px;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 12px;
    }

    .form-group-row {
        padding-bottom: 12px;
    }

    p-table {
        th {
            font-weight: 600;

            &.sortable-header {
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                i {
                    vertical-align: middle;
                }
            }
        }

        td {
            .state-processed {
                color: #42814A;
            }

            .state-pending {
                color: #F8BB47;
            }

            .link-span {
                color: #1D4ED8;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                i {
                    margin-left: 6px;
                }
            }
        }
    }

    p-paginator {
        display: flex;
        justify-content: end;
    }

    .view-more-history-btn-container {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}