<h2>Platform Upload History</h2>
<p-card>
    <div class="form-group-row" *ngIf="!isSmall && currentUser.organizationType !== 'Platform'">
        <div class="form-group-row-col">
            <label for="platformId">Select Platform</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]=" platformOptions" [(ngModel)]="selectedPlatformId"
                (onChange)="onPlatformSelected($event.value)" placeholder="Select platform" id="platformId"
                name="platformId" [required]="true"></p-dropdown>
        </div>
    </div>
    <p-table [value]="listings" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th class="sortable-header" id="organizationNm_header"
                    [class.sorted]="this.sort && this.sort.prop === 'organizationNm'"
                    (click)="onSort('organizationNm')">Platform
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'organizationNm' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'organizationNm' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="reportPeriodYM_header"
                    [class.sorted]="this.sort && this.sort.prop === 'reportPeriodYM'"
                    (click)="onSort('reportPeriodYM')">Reported Month
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'reportPeriodYM' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'reportPeriodYM' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="status_header" [class.sorted]="this.sort && this.sort.prop === 'status'"
                    (click)="onSort('status')">Status
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'status' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'status' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="total_header" [class.sorted]="this.sort && this.sort.prop === 'total'"
                    (click)="onSort('total')">Total Records
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'total' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'total' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="success_header"
                    [class.sorted]="this.sort && this.sort.prop === 'success'" (click)="onSort('success')">Success
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'success' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'success' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="errors_header" [class.sorted]="this.sort && this.sort.prop === 'errors'"
                    (click)="onSort('errors')">Errors
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'errors' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'errors' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="updDtm_header" [class.sorted]="this.sort && this.sort.prop === 'updDtm'"
                    (click)="onSort('updDtm')">Upload Date
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'updDtm' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'updDtm' && this.sort.dir === 'asc'"></i>
                </th>

                <th class="sortable-header" id="familyNm_header"
                    [class.sorted]="this.sort && this.sort.prop === 'familyNm'" (click)="onSort('familyNm')">Uploaded By
                    <i class="pi pi-angle-down"
                        *ngIf="this.sort && this.sort.prop === 'familyNm' && this.sort.dir === 'desc'"></i>
                    <i class="pi pi-angle-up"
                        *ngIf="this.sort && this.sort.prop === 'familyNm' && this.sort.dir === 'asc'"></i>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-row>
            <tr>
                <td>{{ row.organizationNm }}</td>
                <td>{{ row.reportPeriodYM }}</td>
                <td>
                    <span *ngIf="row.status==='Processed'; then processed; else pending"></span>
                    <ng-template #processed> <span class="state-processed">{{row.status}}</span></ng-template>
                    <ng-template #pending><span class="state-pending">{{row.status}}</span></ng-template>
                </td>
                <td>
                    {{row.total}}
                </td>
                <td>
                    {{row.success}}
                </td>
                <td>
                    <span [id]="'downloadErrors_'+row.uploadDeliveryId" [class.link-span]="row.errors>0"
                        (click)="onDownloadErrors(row.uploadDeliveryId,row.organizationNm,row.reportPeriodYM)">{{row.errors}}<i
                            class="pi pi-download" *ngIf="row.errors>0"></i>
                    </span>
                </td>
                <td>{{ row.updDtm |date }}</td>
                <td>{{ row.uploadedBy }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8">No records found</td>
            </tr>
        </ng-template>
    </p-table>
    <div *ngIf="isSmall; then smallTable; else bigTable">
    </div>

    <ng-template #smallTable>
        <div class="view-more-history-btn-container">
            <button [routerLink]="'/upload-listing-history'" pButton id="view-more-history-btn"
                class="p-button-link">View
                More Platform Upload History</button>
        </div>
    </ng-template>

    <ng-template #bigTable>
        <p-paginator class="upload-history-paginator" #paginator *ngIf="currentPage"
            (onPageChange)="onPageChange($event)" [rows]="10" [totalRecords]="currentPage.totalCount || 0"
            [showPageLinks]="false" [showCurrentPageReport]="true" [showFirstLastIcon]="false"
            [currentPageReportTemplate]="'Rows per page: 10 &nbsp; {first}-{last} of {totalRecords}'"></p-paginator>
    </ng-template>

</p-card>