<div class="title">Send Takedown Letter Form</div>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div *ngIf="!hideForm" class="sub-title">All fields are required except where stated</div>

<form *ngIf="!hideForm" [formGroup]="myForm" (ngSubmit)="onPreview()">
    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="lgId">Request Initiated by</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="initiatorsOptions" formControlName="lgId"
                placeholder="Please Select Your Municipality..." id="lgId" name="lgId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!lgIdControl.pristine && lgIdControl.errors">
            <small id="requiredLgIdControl" *ngIf="lgIdControl.errors?.['required']">Request initiator is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select Platform recipient</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="platformOptions" formControlName="platformId" placeholder="Please Select..."
                id="platformId" name="platformId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!platformIdControl.pristine && platformIdControl.errors">
            <small id="requiredPlatformId" *ngIf="platformIdControl.errors?.['required']">Platform recipient is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="listingId">Add Listing ID Number if Known (Optional):</label>
        </div>
        <div class="form-group-row-col">
            <p-inputNumber inputStyleClass="long-text-field" formControlName="listingId" placeholder="Enter Value..."
                inputId="listingId" mode="decimal" [min]="0" [max]="9000000000000000000" [useGrouping]="false">
            </p-inputNumber>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Copy and paste the external listing URL
                from the STR platform website" tooltipPosition="top" placeholder="Top"></span>
            <label for="listingUrl">Add listing URL</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" placeholder="HTTPS://..." pInputText formControlName="listingUrl"
                id="listingUrl" name="listingUrl" required />
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!listingUrlControl.pristine && listingUrlControl.errors">
            <small id="invalidUrl" *ngIf="listingUrlControl.errors?.['invalidUrl']">Please make sure the URL format that
                you have entered is correct</small>
            <small id="requiredUrl" *ngIf="listingUrlControl.errors?.['required']">Listing URL is required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col has-checkbox">
            <p-checkbox formControlName="sendCopy" [binary]="true" id="sendCopy" name="sendCopy"
                inputId="binary"></p-checkbox>
            <label for="sendCopy">Send me a copy of this request</label>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Enter additional email addresses in the CC field separated by commas"
                tooltipPosition="top" placeholder="Top"></span>
            <label for="ccList">Additional CCs (optional)</label>
        </div>
        <div class="form-group-row-col">
            <textarea formControlName="ccList" placeholder="Enter Email(s)..." rows="1" cols="20" pInputTextarea
                id="ccList" name="ccList"></textarea>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!ccListControl.pristine && ccListControl.errors">
            <small id="invalidCcList" *ngIf="ccListControl.errors?.['invalidEmailList']">Please make sure the email
                format you have entered is correct</small>
        </div>
    </div>

    <p-button type="submit" label="Review" id="form-preview-btn" [disabled]="!myForm.valid"></p-button>
</form>

<p-dialog [modal]="true" id="preview-dialog" [closable]="false" header="Takedown Request" [(visible)]="isPreviewVisible"
    [style]="{width: '50vw'}">
    <p [innerText]="previewText">
    </p>
    <div class="actions">
        <p-button label="Submit" id="submit-dialog-btn" (click)="onSubmit()"></p-button>
        <p-button label="Cancel" id="cancel-dialog-btn" [outlined]="true" (click)="onPreviewClose()"></p-button>
    </div>
</p-dialog>
<p-button *ngIf="hideForm" label="Return Home" id="return-home-btn" (click)="onReturnHome()"></p-button>