<div class="title">Send Takedown Letter Form</div>
<div class="sub-title">All fields are required except where stated</div>

<form [formGroup]="myForm" (ngSubmit)="onPreview()">
    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="lgId">Request Initiated by</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="initiatorsOptions" formControlName="lgId" [showClear]="true"
                placeholder="Select a platform" id="lgId" name="lgId" [required]="true"></p-dropdown>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select Platform recipient</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="platformOptions" formControlName="platformId" [showClear]="true"
                placeholder="Select a platform" id="platformId" name="platformId" [required]="true"></p-dropdown>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="listingId">Add Listing ID Number if Known (Optional):</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="number" pInputText formControlName="listingId" id="listingId"
                name="listingId" required />
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Copy and paste the external listing URL
                from the STR platform website" tooltipPosition="top" placeholder="Top"></span>
            <label for="listingUrl">Add listing URL</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" pInputText formControlName="listingUrl" id="listingUrl"
                name="listingUrl" required />
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col has-checkbox">
            <p-checkbox formControlName="sendCopy" [binary]="true" id="sendCopy" name="sendCopy"
                inputId="binary"></p-checkbox>
            <label for="sendCopy">Send me a copy of this request</label>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Enter additional email addresses in the CC field separated by commas"
                tooltipPosition="top" placeholder="Top"></span>
            <label for="ccList">Additional CCs (optional)</label>
        </div>
        <div class="form-group-row-col">
            <textarea formControlName="ccList" rows="1" cols="20" pInputTextarea id="ccList" name="ccList"></textarea>
        </div>
    </div>

    <button type="submit" id="form-preview-btn" pButton pRipple [disabled]="!myForm.valid" label="Review"
        class="p-button-success"></button>
</form>

<p-dialog [modal]="true" id="preview-dialog" [closable]="false" header="Preview" [(visible)]="isPreviewVisible"
    [style]="{width: '50vw'}">
    <p [innerText]="previewText">
    </p>
    <div class="actions">
        <p-button label="Cancel" id="cancel-dialog-btn" [outlined]="true" (click)="onPreviewClose()"></p-button>
        <p-button label="Submit" id="submit-dialog-btn" (click)="onSubmit()"></p-button>
    </div>
</p-dialog>

<p-toast></p-toast>