:host {
    width: 100%;
    flex: 0 0 100%;
    padding: 0 24px 24px 24px;
    background-color: #FFFFFF;

    .takedown-and-notice-wrapper {
        position: absolute;
        overflow: auto;
        top: 118px;
        left: 184px;
        background-color: #FFFFFF;
        width: calc(100% - 368px);
        height: calc(100% - 157px);
        z-index: 2;

        padding: 24px;
        padding-top: 0;

        .header {
            height: 60px;
            width: 100%;
        }

        .content {
            overflow: auto;
            width: 100%;
            height: calc(100% - 60px);
        }
    }

    .top-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        align-items: center;

        .search-container {

            .vertical-spacer {
                height: 24px;
                width: 150px;
            }

            display: flex;
            align-items: stretch;
            height: 46px;

            .search-input-container {
                height: 45px;
                display: flex;
                align-items: stretch;
                position: relative;
                overflow: hidden;

                button {
                    &.search-submit-btn {
                        position: absolute;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        z-index: 10;

                        width: 45px;
                        margin: 0;
                        padding: 0;
                        box-sizing: border-box;
                        background: transparent;
                        border: none;
                        cursor: pointer;
                        color: #FFFFFF;
                        background-color: #053662;
                        border-top-left-radius: 0px;
                        border-bottom-left-radius: 0px;

                        &:hover {
                            background-color: #003366;
                        }
                    }

                    &.search-clear-btn {
                        position: absolute;
                        right: 50px;
                        top: 50%;
                        transform: translateY(-50%);
                        z-index: 11;
                        background: transparent;
                        border: none;
                        padding: 4px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &.filter-open-btn {
                        padding-left: 6px;
                        padding-right: 6px;

                        &.filter-set {
                            color: #255A90;
                        }
                    }
                }

                input.search-input {
                    height: 45px;
                    padding-right: 45px; // Exact space for search button
                    padding-left: 12px;
                    border: 1px solid #ced4da;
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    border-top-right-radius: 6px;
                    border-bottom-right-radius: 6px;
                    border-right: none; // No right border since button covers it
                    font-size: 16px;
                    box-sizing: border-box;
                }
            }
        }

        .legend-container {
            width: 100px;

            button {
                color: #053662;
                font-size: 16px;

                .pi {
                    font-size: 14px;
                }
            }
        }
    }

    .actions {
        display: flex;
        width: 100%;
        padding-bottom: 12px;

        &.left-alignment {
            justify-content: end;
        }

        button {
            margin-right: 6px;
        }
    }

    .content {
        p-panel {
            .rows-info-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .panel-header-small {
                    font-size: small;

                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
        }

        tr {
            &.filtered-out {
                opacity: .4;
            }

            &.clickable-row {
                cursor: pointer;

                &:hover {
                    background-color: #f5f5f5;
                }

                td {
                    &:first-child {
                        cursor: default !important;

                        ::ng-deep .p-checkbox-input {
                            cursor: default !important;
                        }
                    }

                    &:nth-child(2) {
                        cursor: default;

                        .status-col,
                        .status-circle,
                        .status-flag {
                            cursor: default;
                        }
                    }

                    .listing-id-link {
                        cursor: default;
                    }

                    .address-col,
                    .bl-matched-col {
                        i.pi.pi-info-circle {
                            cursor: default;
                        }
                    }
                }
            }

            th {
                font-size: 14px;
                font-family: 'BcSans-bold';

                &.sortable-header {
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    i {
                        vertical-align: middle;
                    }
                }
            }

            td {
                font-size: 12px;
                word-break: break-word;

                .host-name {
                    width: 100%;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    gap: 12px;

                    .multihost-icon {
                        cursor: pointer;
                        width: 24px;
                        height: 24px;
                        background-image: url(../../../../../assets/images/house-blue.svg);
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }

                &.listings-count {
                    font-size: smaller;
                    color: #afadad;
                    font-weight: 600;
                }

                span {
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    max-width: 180px;
                    max-height: 60px;
                    text-overflow: ellipsis;
                }

                .listing-id-link {
                    color: #053662;

                    &:visited {
                        color: #3470B1;
                    }
                }

                .details-button-with-icon {
                    padding: 4px;
                    text-decoration: none;
                    background-color: #053662;
                    border-color: #053662;
                    color: #FFFFFF;

                    &:visited {
                        background-color: #3470B1;
                        border-color: #3470B1;
                        color: #FFFFFF;
                    }
                }

                &.align-center {
                    text-align: center;
                }

                .status-col {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                }

                .address-col,
                .bl-matched-col {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }

                .address-text {
                    display: flex;
                    align-items: center;
                }

                &.low-address-score-match {
                    color: #CE3E39;

                    i {
                        font-weight: 600;
                    }
                }
            }
        }

        p-paginator {
            display: flex;
            justify-content: center;
        }
    }

    .night-stayed-exceeded,
    .invalid-bl {
        width: 100%;
        height: 100%;
        display: flex !important;
        color: #CE3E39;
        align-items: center;
        gap: 8px;
    }

    .status-circle {
        background-color: #FFFFFF;
        width: 20px;
        height: 20px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        line-height: 20px;
        color: #FFFFFF;
        font-family: 'BcSans-bold';
        font-size: 14px;

        &.status-new {
            background-color: #F8BA47;
            color: #2D2D2D;
        }

        &.status-active {
            background-color: #42814A;
        }

        &.status-inactive {
            background-color: #605E5C;
        }

        &.status-takedown-complete {
            background-color: #2D2D2D;
        }

        &.status-reassigned {
            background-color: #255A90;
        }
    }

    .status-flag {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;

        &span {
            margin-right: 12px;
        }

        &.status-takedown-complete {
            background-image: url(../../../../../assets/images/flag-black.svg);
        }

        &.status-reassigned {
            background-image: url(../../../../../assets/images/flag-blue.svg);
        }
    }

    ul {
        &.statuses {
            list-style-type: none;
            padding: 0 14px;

            .status-circle,
            .status-flag {
                margin-right: 12px;
            }
        }
    }

    .row {
        display: flex;
        gap: 8px;
    }
}

@media only screen and (max-width: 1500px) {
    :host {
        padding: 0 10px 10px 10px;

        h2 {
            margin-left: 10px;
            font-size: 1.125em;
        }

        input.search-input {
            width: 250px;
        }

        .filter-open-btn,
        .filter-clear-btn,
        .legend-open-btn {
            padding: 0.5rem .75rem;
            font-size: .75rem !important;
        }

        th {
            font-size: 12px !important;
            padding: 0.25rem 0.125rem;

            td,
            tr {
                font-size: 9px !important;
                padding: 0.25rem 0.125rem;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    :host {
        padding: 0 10px 10px 10px;

        h2 {
            margin-left: 10px;
            font-size: 1.125em;
        }

        input.search-input {
            width: 250px;
        }

        .filter-open-btn,
        .filter-clear-btn,
        .legend-open-btn {
            padding: 0.5rem .75rem;
            font-size: .75rem !important;
        }

        th {
            font-size: 12px !important;
            padding: 0.25rem 0.125rem;

            td,
            tr {
                font-size: 9px !important;
                padding: 0.25rem 0.125rem;
            }
        }
    }
}