<div class="header-container" *ngIf="listing">
    <div class="title">
        <h2>Detailed Listing Information for</h2>

        <a target="_blank" class="listing-url-lnk"
            [href]="listing.platformListingUrl">{{listing.platformListingNo}}</a>&nbsp; <i
            class="pi pi-external-link"></i>
    </div>
    <div class="legend-container">
        <button pButton id="view-more-history-btn" class="p-button-link" (click)="showLegend()">
            <i class="pi pi-question-circle"></i>&nbsp;Legend
        </button>
    </div>
</div>
<div class="subtitle" *ngIf="listing">
    <div class="column">
        <div class="row">
            <div>
                <strong>Assigned to: </strong>{{listing.managingOrganizationNm || '-'}}
            </div>
        </div>
    </div>
    <div class="column">
        <button *ngIf="!isCEU" pButton (click)="sendNoticeOfNonCompliance()" class="p-button-outlined ">
            <span class="nonc-icon"></span> Send Notice Of
            Non-Compliance </button>
        <button *ngIf="!isCEU" pButton (click)="sendTakedownRequest()" class="p-button-outlined"><span
                class="tdr-icon"></span> Send
            Takedown
            Request</button>
    </div>
</div>
<div class="content" *ngIf="listing">
    <div class="main-block">
        <p-panel class="details-block prop-info">
            <ng-template pTemplate="header">
                <div class="property-info-container">
                    <strong class="panel-header-text">Property Information</strong>
                    <p-tag class="platform-report-month">
                        <strong class="tag-text">Platform Report Month:</strong>{{listing.latestReportPeriodYm
                        |date:'YYYY-MM' || '-'}}
                    </p-tag>
                </div>
            </ng-template>
            <div class="row">
                <span class="label">Platform:</span>
                <span class="value">{{listing.offeringOrganizationNm || '-'}}</span>
            </div>
            <div class="row">
                <div class="status-container" [ngSwitch]="listing.listingStatusType">
                    <strong>Listing Status: </strong>
                    <span class="status-item" *ngSwitchCase="'N'">New
                        <span class="status-circle status-new">
                            N
                        </span>
                    </span>
                    <span class="status-item" *ngSwitchCase="'A'">
                        <span>
                            Active
                        </span>
                        <span class="status-circle status-active">
                            A
                        </span>
                    </span>
                    <span class="status-item" *ngSwitchCase="'I'">
                        <span>
                            Inactive
                        </span>
                        <span class="status-circle status-inactive">
                            I
                        </span>
                    </span>
                    <span class="status-item" *ngIf="listing.isLgTransferred">
                        <span>
                            Reassigned
                        </span>
                        <span class="status-flag status-reassigned">
                        </span>
                    </span>
                    <span class="status-item" *ngIf="listing.isTakenDown">
                        <span>
                            Takedown Complete
                        </span>
                        <span class="status-flag status-takedown-complete">
                        </span>
                    </span>
                </div>
            </div>

            <div class="spacer-hr"> </div>

            <div class="row address">
                <span class="label">Address (Best Match):</span>
                <span class="value"
                    [class.warning]="listing.matchScoreAmt<=addressWarningScoreLimit && (!listing.isMatchVerified && !listing.isMatchCorrected)">
                    {{listing.matchAddressTxt}}&nbsp; <i class="pi pi-info-circle"
                        pTooltip="Low Address Match Confidence"
                        *ngIf="listing.matchScoreAmt<=addressWarningScoreLimit && (!listing.isMatchVerified && !listing.isMatchCorrected)"></i>
                </span>
                <span *ngIf="canUserEditAddress" class="change-address-button-container">
                    <button pButton class="p-button-transparent" pTooltip="Edit Address"
                        (click)="onAddressChangeClicked()">
                        <span class="edit-address-icon"></span>
                    </button>
                </span>
                <p-tag *ngIf="listing.isChangedAddress" value="Updated" class="updated-tag"></p-tag>
            </div>
            <div class="row">
                <span class="label">Address (Platform Listing):</span>
                <span class="value">{{listing.originalAddressTxt}}</span>
            </div>
            <div class="row">
                <span class="label">Entire Unit? (Platform Listing):</span>
                <span class="value">{{listing.isEntireUnit?'Yes':'No'}}</span>
            </div>
            <div class="row">
                <span class="label">Number of Bedrooms (Platform Listing):</span>
                <span class="value">{{listing.availableBedroomsQty}}</span>
            </div>

            <div class="spacer-hr"> </div>

            <div class="row">
                <span class="label">Business Licence on Listing:</span>
                <span class="value">{{listing.businessLicenceNo}}</span>
            </div>

            <div class="spacer-hr"> </div>

            <ng-template ngFor let-host [ngForOf]="listing.hosts" let-i="index">
                <div class="row">
                    <span class="label">{{host.isPropertyOwner?'Property':'STR'}} Host (Platform Listing):</span>
                    <span class="value">{{host.fullNm}}</span>
                </div>
                <div class="row">
                    <span class="label">{{host.isPropertyOwner?'Property':'STR'}} Host Address:</span>
                    <span class="value">{{host.fullAddressTxt}}</span>
                </div>
                <div class="row">
                    <span class="label">Email:</span>
                    <span class="value">{{host.emailAddressDsc}}</span>
                </div>
                <div class="row">
                    <span class="label">Phone:</span>
                    <span class="value">{{host.phoneNo}}</span>
                </div>
                <ng-template [ngIf]="i !== (listing.hosts.length-1)">
                    <div class="spacer-hr"> </div>
                </ng-template>
            </ng-template>

            <div class="spacer-hr"> </div>

            <div class="row header-row">
                Listing History (for This Listing ID)
            </div>
            <div class="row night-stayed-row">
                <span class="label">Night Stayed YTD:</span>
                <span class="value">{{listing.nightsBookedYtdQty}}</span>
            </div>
            <div class="row">
                <p-table [value]="listing.listingHistory" [paginator]="listing.listingHistory.length>12"
                    [showPageLinks]="false" currentPageReportTemplate="{first}-{last} of {totalRecords}"
                    [showFirstLastIcon]="false" [showCurrentPageReport]="true" paginatorStyleClass="paging-right"
                    [rows]="12" styleClass="p-datatable-sm" class="table-paging-right">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Month</th>
                            <th>Nights Stayed</th>
                            <th><i class="pi pi-info-circle"
                                    pTooltip="Includes reservations that completed within the month"
                                    tooltipPosition="top"></i> Separate
                                Reservations
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-listingHistory>
                        <tr>
                            <td>{{ listingHistory.reportPeriodYM }}</td>
                            <td>{{ listingHistory.nightsBookedQty }}</td>
                            <td>{{ listingHistory.separateReservationsQty }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </p-panel>

        <p-panel class="details-block address-history" header="Address History">
            <div class="row">
                <p-table [value]="listing.addressChangeHistory" [paginator]="listing.addressChangeHistory.length>12"
                    [showPageLinks]="false" currentPageReportTemplate="{first}-{last} of {totalRecords}"
                    [showFirstLastIcon]="false" [showCurrentPageReport]="true" paginatorStyleClass="paging-right"
                    [rows]="12" styleClass="p-datatable-sm" class="table-paging-right">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>Type</th>
                            <th>Platform Address</th>
                            <th>Best Match Address</th>
                            <th>Date</th>
                            <th>User</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-addressChange>
                        <tr>
                            <td>{{ addressChange.type }}</td>
                            <td>{{ addressChange.platformAddress }}</td>
                            <td>{{ addressChange.bestMatchAddress }}</td>
                            <td>{{ addressChange.date |date:'YYYY-MM-dd' }}</td>
                            <td>{{ addressChange.user }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-panel>
    </div>
    <div class="sidebar">
        <p-panel class="details-block action-history" header="Action History">
            <p-table [value]="listing.actionHistory" styleClass="p-datatable-sm">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Action</th>
                        <th>Date</th>
                        <th>User</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-actionHistory>
                    <tr class="small-text">
                        <td>{{ actionHistory.action }}</td>
                        <td>{{ actionHistory.date |date}}</td>
                        <td>{{ actionHistory.user }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-panel>
        <p-panel class="details-block bl-info">
            <ng-template pTemplate="header">
                <div class="property-info-container">
                    <strong class="panel-header-text">Business Licence Information</strong>
                    <p-tag class="last-bl-update-date" *ngIf="blInfo?.updDtm">
                        <strong class="tag-text">Last Update Date:</strong>{{blInfo.updDtm |date:'YYYY-MM-dd' }}
                    </p-tag>
                </div>
            </ng-template>

            <div *ngIf="!blInfo; else else_block" class="row no-bl-data">


                <div *ngIf="!listing.isChangedBusinessLicence; else changed" class="bl-description">
                    <strong>
                        This listing could not be matched to a business licence record. Listings may not match
                        for one of the following reasons:
                    </strong>
                    <ul>
                        <li>Host error—the host may not have entered their business licence number on their listing,
                            or
                            may have provided it in a format that could not be automatically matched to a local
                            government business licence record.</li>
                        <li>
                            Up-to-date business licence records have not been uploaded to the Portal. Please check
                            the
                            Business licence upload history to confirm when records were last updated.
                        </li>
                        <li>Host does not have a business licence.</li>
                    </ul>
                </div>
                <ng-template #changed>
                    <strong>Business Licence Information was removed from this listing.</strong>
                </ng-template>
                <button pButton (click)="showBlMatchPopup()" class="p-button-link">Click here to link this listing
                    to a business licence record</button>

            </div>
            <ng-template #else_block>
                <div *ngIf="blInfo?.businessNm" class="row">
                    <strong>Business Name:</strong> <span>{{blInfo.businessNm ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.physicalRentalAddressTxt" class="row">
                    <strong>STR Address:</strong> <span>{{blInfo.physicalRentalAddressTxt ||'-'}}</span>
                </div>

                <div *ngIf="blInfo?.businessLicenceNo ||
                blInfo?.licenceTypeTxt || 
                blInfo?.expiryDt || 
                blInfo?.licenceStatusType || 
                blInfo?.restrictionTxt
                " class="spacer-hr"></div>

                <div *ngIf="blInfo?.businessLicenceNo" class="row">
                    <strong>Business Licence Number:</strong>
                    <span class="value">{{blInfo.businessLicenceNo ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.licenceTypeTxt" class="row">
                    <strong>Licence Type:</strong> <span class="value">{{blInfo.licenceTypeTxt ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.expiryDt" class="row">
                    <strong>Expiry Date: </strong> <span class="value">{{blInfo.expiryDt |date:'YYYY-MM-dd'}}</span>
                </div>
                <div *ngIf="blInfo?.licenceStatusType" class="row">
                    <strong>Status:</strong> <span class="status-name value"
                        [class.status-red]="blInfo.licenceStatusType!=='ISSUED'">{{blInfo.licenceStatus.licenceStatusTypeNm}}</span>
                </div>
                <div *ngIf="blInfo?.restrictionTxt" class="row">
                    <strong>Restriction Note:</strong> <span class="value">{{blInfo.restrictionTxt || 'N/A'}}</span>
                </div>

                <div *ngIf="blInfo?.businessOwnerNm ||
                blInfo?.mailingStreetAddressTxt ||
                blInfo?.businessOwnerEmailAddressDsc ||
                blInfo?.businessOwnerPhoneNo" class="spacer-hr"></div>

                <div *ngIf="blInfo?.businessOwnerNm" class="row">
                    <strong>Owner / Licencee Name:</strong> <span class="value">{{blInfo.businessOwnerNm ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.mailingStreetAddressTxt" class="row">
                    <strong>Mailing Address: </strong>
                    <span class="value">{{blInfo.mailingStreetAddressTxt}} {{blInfo.mailingCityNm}}
                        {{blInfo.mailingProvinceCd}}
                        {{blInfo.mailingPostalCd}}</span>
                </div>
                <div *ngIf="blInfo?.businessOwnerEmailAddressDsc" class="row">
                    <strong>Email: </strong> <span class="value">{{blInfo.businessOwnerEmailAddressDsc ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.businessOwnerPhoneNo" class="row">
                    <strong>Phone: </strong> <span class="value">{{blInfo.businessOwnerPhoneNo ||'-'}}</span>
                </div>

                <div *ngIf="blInfo?.businessOperatorNm || 
                blInfo?.businessOperatorEmailAddressDsc || 
                blInfo?.businessOperatorPhoneNo" class="spacer-hr"></div>

                <div *ngIf="blInfo?.businessOperatorNm" class="row">
                    <strong>Operator Name:</strong> <span class="value">{{blInfo.businessOperatorNm ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.businessOperatorEmailAddressDsc" class="row">
                    <strong>Email: </strong> <span class="value">{{blInfo.businessOperatorEmailAddressDsc ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.businessOperatorPhoneNo" class="row">
                    <strong>Phone: </strong> <span class="value">{{blInfo.businessOperatorPhoneNo ||'-'}}</span>
                </div>

                <div *ngIf="blInfo?.propertyZoneTxt || 
                blInfo?.availableBedroomsQty || 
                blInfo?.maxGuestsAllowedQty || 
                isBoolDefined(blInfo?.isPrincipalResidence) || 
                isBoolDefined(blInfo?.isOwnerLivingOnsite) || 
                isBoolDefined(blInfo?.isOwnerPropertyTenant) ||
                blInfo?.infractionTxt ||
                blInfo?.infractionDt " class="spacer-hr"></div>

                <div *ngIf="blInfo?.propertyZoneTxt" class="row">
                    <strong>Property Zoning:</strong> <span class="value">{{blInfo.propertyZoneTxt ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.availableBedroomsQty" class="row">
                    <strong>Bedrooms Available: </strong> <span class="value">{{blInfo.availableBedroomsQty
                        ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.maxGuestsAllowedQty" class="row">
                    <strong>Guest Capacity / Maximum Occupancy: </strong> <span
                        class="value">{{blInfo.maxGuestsAllowedQty
                        ||'-'}}</span>
                </div>
                <div *ngIf="isBoolDefined(blInfo?.isPrincipalResidence)" class="row">
                    <strong>Principal Residence: </strong> <span
                        class="value">{{blInfo.isPrincipalResidence?'Yes':'No'}}</span>
                </div>
                <div *ngIf="isBoolDefined(blInfo?.isOwnerLivingOnsite)" class="row">
                    <strong>Onsite Owner:</strong> <span class="value">{{blInfo.isOwnerLivingOnsite?'Yes':'No'}}</span>
                </div>
                <div *ngIf="isBoolDefined(blInfo?.isOwnerPropertyTenant)" class="row">
                    <strong>Building Rented: </strong> <span
                        class="value">{{blInfo.isOwnerPropertyTenant?'Yes':'No'}}</span>
                </div>
                <div *ngIf="blInfo?.infractionTxt" class="row">
                    <strong>Infraction: </strong> <span class="value">{{blInfo.infractionTxt ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.infractionDt" class="row">
                    <strong>Infraction Date: </strong> <span
                        class="value">{{blInfo.infractionDt|date:'YYYY-MM-dd'}}</span>
                </div>

                <div *ngIf="blInfo?.propertyFolioNo || 
                blInfo?.propertyParcelIdentifierNo || 
                blInfo?.propertyLegalDescriptionTxt" class="spacer-hr"></div>

                <div *ngIf="blInfo?.propertyFolioNo" class="row">
                    <strong>Folio Number:</strong> <span class="value">{{blInfo.propertyFolioNo ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.propertyParcelIdentifierNo" class="row">
                    <strong>Parcel Identifier (PID): </strong> <span class="value">{{blInfo.propertyParcelIdentifierNo
                        ||'-'}}</span>
                </div>
                <div *ngIf="blInfo?.propertyLegalDescriptionTxt" class="row">
                    <strong>Legal Description: </strong> <span class="value">{{blInfo.propertyLegalDescriptionTxt
                        ||'-'}}</span>
                </div>

                <div class="spacer-hr">
                </div>
                <div class="row">
                    <button pButton (click)="showBlUnlinkPopup()" class="p-button-link">Click here to unlink this
                        listing from this business licence record</button>
                </div>
            </ng-template>
        </p-panel>
    </div>
</div>

<p-dialog header="Match a Business Licence to Listing" class="bl-match-popup" [modal]="true" [closable]="false"
    [(visible)]="isMatchBlShown" [style]="{width: '50vw'}">
    <div class="search-label"><strong>Enter a Business Licence Number</strong></div>
    <div class="search-row">
        <input pInputText type="text" class="full-width-text-field" [(ngModel)]="searchBlText"
            placeholder="Enter value..." (keyup.enter)="onSearchBl()">
        <button pButton class="search-bl-btn" id="search-bl-btn" (click)="onSearchBl()"
            [disabled]="isSearchBlDisabled"><i class="pi pi-search"></i></button>
    </div>
    <div class="no-bl-found" *ngIf="noBlsFound">
        No match was found for this business licence number in our system.
    </div>
    <div class="search-results" *ngIf="blSearchResults.length">
        <strong>Best Match Candidate</strong>

        <div class="search-result-row" *ngFor="let blRow of blSearchResults">
            <p-radioButton [inputId]="'bl'+blRow.businessLicenceId" name="bl-search-result-row" [value]="blRow"
                [(ngModel)]="selectedBl"></p-radioButton>
            <label [for]="'bl'+blRow.businessLicenceId" class="ml-2">
                {{ blRow.businessLicenceNo }}, {{blRow.physicalRentalAddressTxt}}
            </label>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton name="submit-dialog-btn" id="submit-dialog-btn" (click)="onUpdateBl()"
            [disabled]="!selectedBl">Update</button>
        <button pButton name="cancel-dialog-btn" id="cancel-dialog-btn" class="outline-btn"
            (click)="onCancelUpdateBl()">Cancel</button>
    </ng-template>
</p-dialog>

<p-dialog header="Unlink a business licence from Listing" class="bl-unlink-popup" [modal]="true" [closable]="false"
    [(visible)]="isUnlinkBlShow" [style]="{width: '50vw'}">
    <div class="search-label" *ngIf="this.listing && this.listing.bizLicenceInfo"><strong>Are you sure you want to
            unlink business
            licence number
            {{this.listing.bizLicenceInfo.businessLicenceNo}} from this
            listing?</strong></div>

    <ng-template pTemplate="footer">
        <button pButton name="submit-dialog-btn" id="submit-dialog-btn" (click)="onUnlinkBl()">Yes, Unlink this Business
            Licence Number</button>
        <button pButton name="cancel-dialog-btn" id="cancel-dialog-btn" class="outline-btn"
            (click)="onCancelUnlinkBl()">Cancel</button>
    </ng-template>
</p-dialog>

<p-dialog header="Legend" [modal]="true" [(visible)]="isLegendShown" [style]="{width: '50vw'}">
    <span>
        <strong>Status:</strong> Status of the listing using the following categories:
        <ul class="statuses">
            <li><span class="status-circle status-new">N</span>&nbsp;New: Listing reported for the first time in
                current monthly data</li>
            <li><span class="status-circle status-active">A</span>&nbsp;Active: Listing appeared in previous and
                current monthly data</li>
            <li><span class="status-circle status-inactive">I</span>&nbsp;Inactive: Listing appeared in previous
                but not current monthly data </li>
            <li><span class="status-flag status-takedown-complete"></span>&nbsp;Takedown Complete: Platform confirmed
                takedown of the listing</li>
            <li><span class="status-flag status-reassigned"></span>&nbsp;Reassigned: Address (best
                match) was updated to a new jurisdiction</li>
        </ul>
    </span>
    <p>
        <strong>Listing ID:</strong> Platform ID number for the listing.
    </p>

    <p>
        <strong>Address (Best Match):</strong> Best physical address match provided by the BC Address Geocoder based
        on the address from the platform listing (accuracy of {{addressWarningScoreLimit}}% or above).
    </p>

    <p>
        <strong>Address (from platform listing):</strong> Property address of the short-term rental accommodation
        provided to the platform by the host. May be incomplete or inaccurate.
    </p>
    <p>
        <strong>Entire Unit:</strong> Is the listing for an entire dwelling unit or a bedroom within the dwelling
        unit.
    </p>
    <p>
        <strong>Nights Stayed:</strong> The number of nights short-term rental services were provided in the
        reporting month.
    </p>
    <p>
        <strong>Separate Reservations:</strong> The number of separate reservations that were "completed" in the
        reporting month (ie. where the guest has checked out within the month). Reservations that span more than one
        month will be reported in the month the guest checks out.
    </p>
    <p>
        <strong>Business licence:</strong> Business licence number provided by the host on the listing, if
        applicable.
    </p>
    <p>
        <strong>Property Host:</strong> A person who is legally entitled to possession of the property where STR
        accommodation is provided and acts as the STR operator responsible for arranging the short term rental
        services.
        <i>See Short-term Rental Accommodations Act</i> for definition.
    </p>
    <p>
        <strong>STR Host:</strong> Any person who acts as the STR operator, including the property host and any
        other persons who act on their behalf to arrange the short-term rental services (e.g., host, co-host,
        property manager).
        <i>See Short-term Rental Accommodations Act</i> for definition.
    </p>
</p-dialog>

<p-dialog header="Suggest a New Address" class="address-change-popup" [modal]="true" [closable]="false"
    [(visible)]="isEditAddressShown" [style]="{width: '50vw'}">
    <div class="content" *ngIf="listing">
        <div class="message warn" *ngIf="isJurisdictionDifferent">
            <div class="header">
                <span class="exclamation"></span>
                <strong class="message-text">This Address is in a Different Jurisdiction.</strong>
            </div>
            <div class="content" *ngIf="!isCEU">
                <span class="message-text">The address you are suggesting is outside of your jurisdiction. You will lose
                    access to this listing after you click submit.</span>
            </div>
        </div>

        <div class="row"><strong>Address (Best Match):</strong> {{listing.matchAddressTxt}}</div>
        <div class="row"><strong>Address (Platform Listing):</strong> {{listing.originalAddressTxt}}</div>
        <div class="row">
            <p-checkbox labelStyleClass="warn" label="Confirm the Best Match Address on this Listing is Correct"
                [binary]="true" name="accept" [(ngModel)]="confirmTheBestMatchAddress" inputId="accept-chb"
                (ngModelChange)="onConfirmFlagChanged($event)"></p-checkbox>
        </div>
        <div class="spacer"></div>
        <div class="row">
            <strong>Suggest different address</strong>
        </div>
        <div class="row">
            <input #searchTerm [disabled]="confirmTheBestMatchAddress" type="text"
                class="address-search-input full-width-text-field" placeholder="Search" pInputText>
            <button pButton [disabled]="confirmTheBestMatchAddress" class="search-btn"
                (click)="onSearchCandidates(searchTerm.value)"><i class="pi pi-search"></i></button>
        </div>
        <div class="candidates" *ngIf="addressChangeCandidates.length && !confirmTheBestMatchAddress">
            <div class="spacer"></div>
            <div class="row"><strong>Best Match Candidates</strong></div>
            <div class="row" *ngFor="let candidate of addressChangeCandidates; let i=index">
                <p-radioButton name="address-candidate-radio" [label]="candidate.address" [value]="candidate"
                    [(ngModel)]="selectedCandidate" inputId="address-candidate-radio-{{i}}"
                    (ngModelChange)="onCandidateSelected($event)">
                </p-radioButton>
            </div>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <button pButton name="submit-dialog-btn" id="submit-dialog-btn" (click)="onSubmitAddressChange()"
            [disabled]="!(confirmTheBestMatchAddress || (selectedCandidate && selectedCandidate.address))">Update</button>
        <button pButton name="cancel-dialog-btn" id="cancel-dialog-btn" class="outline-btn"
            (click)="onCancelAddressChange()">Cancel</button>
    </ng-template>
</p-dialog>