<div class="cards-row">
    <p-card header="Send Notice of Takedown">
        <p class="m-0">
            Send a notice to a short-term rental host and platform that a listing may be removed
        </p>
        <p-button label="Send Notice" id="navigate-to-compliance-notice-btn" (click)="toComplianceNotice()"></p-button>

    </p-card>
    <p-card header="Send Takedown Letter">
        <p class="m-0">
            Send a request to remove a short-term rental listing to a platform
        </p>
        <p-button label="Send Takedown letter" id="navigate-to-delisting-request-btn"
            (click)="toDelistingRequest()"></p-button>
    </p-card>
</div>