global:
  labels:
    environment: prod
    env: prod
    owner: "b0471a-team"
    project: "b0471a-project"
    DataClass: "Medium"

nameOverride: strdssprod-backup
fullnameOverride: strdssprod-backup

backupConfig: |
  postgres=strdssprod:5432/strdssprod

  0 1 * * * default ./backup.sh -s
  0 4 * * * default ./backup.sh -s -v all

db:
  secretName: strdssprod
  passwordKey: postgres-password

persistence:
  backup:
    size: 700Mi
    mountPath: /backups/
    storageClassName: netapp-file-backup
    storageAccessMode: ReadWriteOnce
  verification:
    size: 512Mi
    mountPath: /var/lib/pgsql/data
    storageClassName: netapp-block-standard
    storageAccessMode: ReadWriteOnce

env:
  DATABASE_SERVICE_NAME:
    value: strdssprod
  ENVIRONMENT_FRIENDLY_NAME:
    value: "STRDSS PROD DB Backups"
  ENVIRONMENT_NAME:
    value: "prod"
backup-storage:
  labels:
    DataClass: "Medium"