<div class="title">Send Notice of Takedown</div>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div *ngIf="!hideForm" class="sub-title">All fields are required except where stated</div>

<form *ngIf="!hideForm" [formGroup]="myForm" (ngSubmit)="onPreview()">
    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select Platform recipient</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="platformOptions" formControlName="platformId" placeholder="Please Select..."
                id="platformId" name="platformId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!platformIdControl.pristine && platformIdControl.errors">
            <small id="requiredPlatformId" *ngIf="platformIdControl.errors?.['required']">Platform recipient is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="listingId">Add Listing ID if known (Optional)</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" inputStyleClass="long-text-field" formControlName="listingId"
                placeholder="Enter Value..." pInputText formControlName="listingId" [maxlength]="25" id="listingId"
                name="listingId" />
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Copy and paste the external listing URL
                from the STR platform website" tooltipPosition="top" placeholder="Top"></span>
            <label for="listingUrl">Add listing
                URL</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" placeholder="HTTPS://..." pInputText formControlName="listingUrl"
                id="listingUrl" name="listingUrl" required />
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!listingUrlControl.pristine && listingUrlControl.errors">
            <small id="invalidUrl" *ngIf="listingUrlControl.errors?.['invalidUrl']">Please make sure the URL format that
                you have entered is correct</small>
            <small id="requiredUrl" *ngIf="listingUrlControl.errors?.['required']">Listing URL is required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip"
                pTooltip="Add the host's email address or check the box if there has been previous communications with the host"
                tooltipPosition="top" placeholder="Top"></span>
            <label for="hostEmail">Host’s Email Address (This is mandatory unless the checkbox below is checked)</label>
        </div>
        <div class="form-group-row-col">
            <input type="text" placeholder="Enter Value..." pInputText formControlName="hostEmail" id="hostEmail"
                name="hostEmail" />
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!hostEmailControl.pristine && hostEmailControl.errors">
            <small id="invalidEmail" *ngIf="hostEmailControl.errors?.['email']">Please make sure the email format
                you have entered is correct</small>
            <small id="requiredEmail" *ngIf="hostEmailControl.errors?.['required']">Host’s Email Address is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col has-checkbox">
            <p-checkbox formControlName="hostEmailSent" [binary]="true" id="hostEmailSent" name="hostEmailSent"
                inputId="hostEmailSentInput" (onChange)="onAlternativeDeliveryChanged($event)"></p-checkbox>
            <label for="hostEmailSent">A notice has been sent to the host through an alternate delivery
                method.</label>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="reasonId">Select Reason for request</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="reasonOptions" formControlName="reasonId" placeholder="Please Select..."
                id="reasonId" name="reasonId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!reasonIdControl.pristine && reasonIdControl.errors">
            <small id="requiredReasonId" *ngIf="reasonIdControl.errors?.['required']">Reason for request is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col has-checkbox">
            <p-checkbox formControlName="sendCopy" [binary]="true" id="sendCopy" name="sendCopy"
                inputId="sendCopyInput"></p-checkbox>
            <label for="sendCopy">Send me a copy of this request</label>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Enter additional email addresses in the CC field separated by commas"
                tooltipPosition="top" placeholder="Top"></span>
            <label for="ccList">Additional CCs (optional)</label>
        </div>
        <div class="form-group-row-col">
            <textarea formControlName="ccList" placeholder="Enter Email(s)..." rows="1" cols="20" pInputTextarea
                id="ccList" name="ccList"></textarea>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!ccListControl.pristine && ccListControl.errors">
            <small id="invalidCcList" *ngIf="ccListControl.errors?.['invalidEmailList']">Please make sure the email
                format
                you have entered is correct</small>
        </div>
    </div>

    <div class="sub-title">Local Government Contact Information</div>

    <div class="form-group-row inline-block">
        <div class="form-group-row-col">
            <label for="LgContactEmail">Email</label>
        </div>
        <div class="form-group-row-col">
            <input type="text" placeholder="Enter Email..." pInputText formControlName="LgContactEmail"
                id="LgContactEmail" name="LgContactEmail" required />
        </div>
    </div>

    <div class="form-group-row inline-block">
        <div class="form-group-row-col">
            <label for="LgContactPhone">Phone Number (Optional)</label>
        </div>
        <div class="form-group-row-col">
            <p-inputMask mask="999-999-9999" placeholder="999-999-9999" formControlName="LgContactPhone"
                inputId="LgContactPhone" name="LgContactPhone">
            </p-inputMask>
        </div>
    </div>

    <div class="form-group-row inline-block form-spacer">
        <div class="form-group-row-col validation-errors"
            *ngIf="!lgContactEmailControl.pristine && lgContactEmailControl.errors">
            <small id="invalidLgContactEmail" *ngIf="lgContactEmailControl.errors?.['email']">Please make sure the email
                format
                you have entered is correct</small>
            <small id="requiredLgContactEmail" *ngIf="lgContactEmailControl.errors?.['required']">Local Government’s
                Email Address is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Enter additional email addresses in the CC field separated by commas."
                tooltipPosition="top" placeholder="Top"></span>
            <label for="StrBylawUrl">URL for Local Government Short-Term Rental Bylaw Information
                (Optional)</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" placeholder="HTTPS://..." type="text" pInputText
                formControlName="StrBylawUrl" id="StrBylawUrl" name="StrBylawUrl" />
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!strBylawUrlControl.pristine && strBylawUrlControl.errors">
            <small id="invalidStrBylawUrlControl" *ngIf="strBylawUrlControl.errors?.['invalidUrl']">Please make sure the
                URL
                format that
                you have entered is correct</small>
        </div>
    </div>

    <button type="submit" id="form-preview-btn" pButton pRipple [disabled]="!myForm.valid" label="Review"></button>
</form>

<p-dialog [modal]="true" id="preview-dialog" [closable]="false" header="Notice of Takedown"
    [(visible)]="isPreviewVisible" [style]="{width: '50vw'}">
    <p [innerText]="previewText"> </p>
    <div class="spacer-hr"></div>
    <div class="comment-section">
        <div class="form-group-row">
            <div class="form-group-row-col">
                <label for="comment">Add Additional Comments to Email (Optional)</label>
            </div>
            <div class="form-group-row-col">
                <textarea #textarea rows="5" cols="30" class="full-width-text-field" pInputTextarea id="comment"
                    name="comment" placeholder="Enter Additional Comment Here..."></textarea>
            </div>
        </div>
    </div>
    <div class="actions">
        <button pButton id="submit-dialog-btn" (click)="onSubmit(textarea.value,textarea)">Submit</button>
        <button pButton id="cancel-dialog-btn" class="outline-btn" (click)="onPreviewClose()">Cancel</button>
    </div>
</p-dialog>
<button *ngIf="hideForm" pButton id="return-home-btn" name="return-home-btn" (click)="onReturnHome()">Return
    Home</button>