<div class="title">Send Notice of Non-Compliance</div>
<p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
<div *ngIf="!hideForm" class="sub-title">Complete the following fields to send a Notice of Non-Compliance with a local
    government short-term rental (STR) business licence requirement to an STR Host and Platform Representative. All
    fields are required except where stated.</div>

<form *ngIf="!hideForm" [formGroup]="myForm" (ngSubmit)="onPreview()">
    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select a Platform Representative for</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="platformOptions" formControlName="platformId" placeholder="Select platform"
                id="platformId" name="platformId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!platformIdControl.pristine && platformIdControl.errors">
            <small id="requiredPlatformId" *ngIf="platformIdControl.errors?.['required']">Platform recipient is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip"
                pTooltip="Enter the hosts email address (that was provided by the host to the platform) or check the box below if a Notice has been issued to the host previously through an alternate delivery method (e.g. mail)."
                tooltipPosition="top" placeholder="Top"></span>
            <label for="hostEmail">Provide the Host’s email address (This is mandatory unless the checkbox below is
                checked)</label>
        </div>
        <div class="form-group-row-col">
            <input type="text" placeholder="Enter email address" pInputText formControlName="hostEmail" id="hostEmail"
                name="hostEmail" />
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!hostEmailControl.pristine && hostEmailControl.errors">
            <small id="invalidEmail" *ngIf="hostEmailControl.errors?.['email']">Please make sure the email format
                you have entered is correct</small>
            <small id="requiredEmail" *ngIf="hostEmailControl.errors?.['required']">Host’s Email Address is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col has-checkbox">
            <p-checkbox formControlName="hostEmailSent" [binary]="true" id="hostEmailSent" name="hostEmailSent"
                inputId="hostEmailSentInput" (onChange)="onAlternativeDeliveryChanged($event)"></p-checkbox>
            <label for="hostEmailSent">A Notice has been sent to the host through an alternate delivery method.</label>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip"
                pTooltip="Copy and paste the external URL of the STR listing from the platform listing. URL must begin with “https://”."
                tooltipPosition="top" placeholder="Top"></span>
            <label for="listingUrl">Add the URL of the short-term rental listing</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" placeholder="Enter URL beginning with http…" pInputText
                formControlName="listingUrl" id="listingUrl" name="listingUrl" required />
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!listingUrlControl.pristine && listingUrlControl.errors">
            <small id="invalidUrl" *ngIf="listingUrlControl.errors?.['invalidUrl']">Please make sure the URL format that
                you have entered is correct</small>
            <small id="requiredUrl" *ngIf="listingUrlControl.errors?.['required']">Listing URL is required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="listingId">Add the Listing ID of the short-term rental listing if known (optional)</label>
        </div>
        <div class="form-group-row-col">
            <input class="long-text-field" type="text" inputStyleClass="long-text-field" formControlName="listingId"
                placeholder="Enter Listing ID" pInputText formControlName="listingId" [maxlength]="25" id="listingId"
                name="listingId" />
        </div>
    </div>

    <div class="form-group-row ">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="This email will be visible to hosts." tooltipPosition="top"
                placeholder="Top"></span>
            <label for="LgContactEmail">Provide a local government email address to receive a copy of the Notice</label>
        </div>
        <div class="form-group-row-col">
            <input type="text" placeholder="Enter Email" pInputText formControlName="LgContactEmail" id="LgContactEmail"
                name="LgContactEmail" required />
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!lgContactEmailControl.pristine && lgContactEmailControl.errors">
            <small id="invalidLgContactEmail" *ngIf="lgContactEmailControl.errors?.['email']">Please make sure the email
                format
                you have entered is correct</small>
            <small id="requiredLgContactEmail" *ngIf="lgContactEmailControl.errors?.['required']">Local Government’s
                Email Address is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <span class="info-tooltip" pTooltip="Enter additional email addresses separated by commas."
                tooltipPosition="top" placeholder="Top"></span>
            <label for="ccList">Add any additional recipients to receive a copy of the Notice (optional)</label>
        </div>
        <div class="form-group-row-col">
            <textarea formControlName="ccList" placeholder="Enter email address" rows="1" cols="20" pInputTextarea
                id="ccList" name="ccList"></textarea>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!ccListControl.pristine && ccListControl.errors">
            <small id="invalidCcList" *ngIf="ccListControl.errors?.['invalidEmailList']">Please make sure the email
                format
                you have entered is correct</small>
        </div>
    </div>

    <button type="submit" id="form-preview-btn" pButton pRipple [disabled]="!myForm.valid" label="Review"></button>
</form>

<p-dialog [modal]="true" id="preview-dialog" [closable]="false" header="Notice of Takedown"
    [(visible)]="isPreviewVisible" [style]="{width: '50vw'}">
    <p [innerText]="previewText"> </p>
    <div class="spacer-hr"></div>
    <div class="comment-section">
        <div class="form-group-row">
            <div class="form-group-row-col">
                <label for="comment">Add Additional Comments to Email (Optional)</label>
            </div>
            <div class="form-group-row-col">
                <textarea #textarea rows="5" cols="30" maxlength="2000" class="full-width-text-field" pInputTextarea
                    id="comment" name="comment" placeholder="Enter Additional Comment Here..."></textarea>
                <span class="limit-text" [class.almost-limit-text]="textarea.value.length > 1950"
                    [class.limited-text]="textarea.value.length > 1999">{{textarea.value.length}}/2000</span>
            </div>
        </div>
    </div>
    <div class="actions">
        <button pButton id="submit-dialog-btn" (click)="onSubmit(textarea.value,textarea)">Submit</button>
        <button pButton id="cancel-dialog-btn" class="outline-btn" (click)="onPreviewClose()">Cancel</button>
    </div>
</p-dialog>
<button *ngIf="hideForm" pButton id="return-home-btn" name="return-home-btn" (click)="onReturnHome()">Return
    Home</button>