<div class="title extra-space-bottom">User Management</div>
<div class="table-card-container">
    <div class="search-filter-container extra-space-bottom">
        <div class="form-row">
            <div class="form-group-row-col">
                <label for="platformId">Status</label>
            </div>
            <div class="form-group-row-col">
                <p-dropdown [options]="statuses" [(ngModel)]="searchParams.searchStatus"
                    (ngModelChange)="onSearchModelChanged()" class="width340px" placeholder="All" id="statusSearchId"
                    name="statusSearchId"></p-dropdown>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group-row-col">
                <label for="platformId">Organization</label>
            </div>
            <div class="form-group-row-col">
                <p-dropdown [options]="organizationDropdown" [(ngModel)]="searchParams.searchOrganization"
                    (ngModelChange)="onSearchModelChanged()" class="width340px" placeholder="All"
                    id="organizationSearchId" name="organizationSearchId"></p-dropdown>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group-row-col">
                <label for="platformId">Search</label>
            </div>
            <div class="form-group-row-col">
                <input type="text" pInputText [(ngModel)]="searchParams.searchTerm" class="width340px" id="searchTerm"
                    name="searchTerm" (ngModelChange)="onSearchModelChanged()" placeholder="Search.." />
            </div>
        </div>
    </div>
    <div class="table-container">

        <p-table [styleClass]="'p-datatable-sm'" [value]="accessRequests" [rows]="10">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="accessRequestDtm">Requested Date<p-sortIcon
                            field="accessRequestDtm"></p-sortIcon></th>
                    <th pSortableColumn="identityProviderNm">ID Provider<p-sortIcon field="givenNm"></p-sortIcon></th>
                    <th pSortableColumn="givenNm">First Name<p-sortIcon field="givenNm"></p-sortIcon></th>
                    <th pSortableColumn="familyNm">Last Name<p-sortIcon field="familyNm"></p-sortIcon></th>
                    <th pSortableColumn="code1">Org Type<p-sortIcon field="code1"></p-sortIcon></th>
                    <th pSortableColumn="emailAddressDsc">Email Address<p-sortIcon field="emailAddressDsc"></p-sortIcon>
                    </th>
                    <th pSortableColumn="code2">Organization<p-sortIcon field="code2"></p-sortIcon></th>
                    <th pSortableColumn="code2">Status<p-sortIcon field="code2"></p-sortIcon></th>
                    <th pSortableColumn="action">Action<p-sortIcon field="action"></p-sortIcon></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-accessRequest>
                <tr>
                    <td>{{ accessRequest.accessRequestDtm | dateFormat }}</td>
                    <td>{{ accessRequest.identityProviderNm }}</td>
                    <td>{{ accessRequest.givenNm }}</td>
                    <td>{{ accessRequest.familyNm }}</td>
                    <td>{{ accessRequest.organizationType }}</td>
                    <td>{{ accessRequest.emailAddressDsc }}</td>
                    <td>{{ accessRequest.organizationNm }}</td>
                    <td>
                        <ng-container [ngSwitch]="accessRequest.accessRequestStatusCd">
                            <ng-container *ngSwitchCase="'Approved'">
                                <span [style]="{'color':'#42814A'}">Approved</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Denied'">
                                <span [style]="{'color':'#CE3E39'}">Denied</span>
                            </ng-container>
                            <ng-container *ngSwitchCase="'Requested'">

                                <button pButton name="form-approve-btn" id="form-approve-btn"
                                    (click)="onApprovePopup(accessRequest)" class="table-small-btn">Approve</button>

                                <button pButton name="form-reject-bt" id="form-reject-bt"
                                    class="outline-btn table-small-btn"
                                    (click)="onRejectPopup(accessRequest)">Deny</button>

                            </ng-container>
                        </ng-container>
                    </td>
                    <td>
                        <span
                            (click)="accessRequest.accessRequestStatusCd === 'Requested' || onActivateDeactivateToggle($event, accessRequest)">
                            <p-inputSwitch class="table-small-switch"
                                [disabled]="accessRequest.accessRequestStatusCd ==='Requested'"
                                [(ngModel)]="accessRequest.isEnabled" [readonly]="true"></p-inputSwitch>
                        </span>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator class="users-paginator" #paginator *ngIf="currentPage" (onPageChange)="onPageChange($event)"
            [rows]="10" [totalRecords]="currentPage.totalCount || 0" [showPageLinks]="false"
            [showCurrentPageReport]="true" [showFirstLastIcon]="false"
            [currentPageReportTemplate]="'Rows per page: 10 &nbsp; {first}-{last} of {totalRecords}'"></p-paginator>
    </div>
</div>

<p-dialog *ngIf="currentTableItem" header="Approve Access Request" [modal]="true" [(visible)]="showApprovePopup"
    [style]="{width: '50vw'}">
    <div class="form-group-row"><strong class="bold-text">User Email: </strong>{{currentTableItem.emailAddressDsc}}
    </div>
    <div class="form-group-row"><strong class="bold-text">ID Provider: </strong>
        {{currentTableItem.identityProviderNm}}</div>
    <div class="form-group-row extra-space-bottom"><strong class="bold-text">Requested User
            Type: </strong>{{currentTableItem.accessRequestJustificationTxt}}</div>
    <div class="form-group-row inline-block left-block extra-space-bottom">
        <div class="form-group-row-col">
            <label for="userIdentityId">Confirm the user type</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown #approveOrgTypeElem [(ngModel)]="currentOrganizationTypeSelected"
                (onChange)="orgTypeChanged($event.value)" [options]="organizationTypes" appendTo="body"
                placeholder="Please Select..." id="userIdentityId" name="userIdentityId"
                [ngClass]="'full-width-text-field'" [required]="true"></p-dropdown>
        </div>
    </div>
    <div class="form-group-row inline-block right-block extra-space-bottom">
        <div class="form-group-row-col">
            <label for="representedByOrganizationId">What organization does this user represent?</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown #approveOrgNameElem [(ngModel)]="currentOrganizationSelected" [options]="filteredOrganizations"
                appendTo="body" placeholder="Please Select..." id="representedByOrganizationId"
                name="representedByOrganizationId" [ngClass]="'full-width-text-field'" [required]="true"></p-dropdown>
        </div>
    </div>
    <strong class="bold-text">Exercise caution and ensure accuracy before proceeding. Granting (or denying) access is
        irreversible.</strong>
    <div class="spacer-hr"></div>
    <div class="actions">
        <button pButton name="submit-dialog-btn" id="submit-dialog-btn"
            (click)="onApprove(approveOrgTypeElem,approveOrgNameElem)">Submit</button>
        <button pButton name="cancel-dialog-btn" id="cancel-dialog-btn" class="outline-btn"
            (click)="onPopupClose()">Cancel</button>
    </div>
</p-dialog>

<p-dialog *ngIf="currentTableItem" header="Reject Access Request" [modal]="true" [(visible)]="showRejectPopup"
    [style]="{width: '50vw'}">
    <div class="form-group-row-col"><strong class="bold-text">User ID: </strong>{{currentTableItem.emailAddressDsc}}
    </div>
    <div class="form-group-row-col"><strong class="bold-text">Requested User
            Type: </strong>{{currentTableItem.accessRequestJustificationTxt}}</div>
    <div class="form-group-row-col extra-space-bottom"><strong class="bold-text">Provider: </strong>
        {{currentTableItem.identityProviderNm}}</div>
    <strong class="bold-text">Exercise caution and ensure accuracy before proceeding. Granting (or denying) access is
        irreversible.</strong>
    <div class="spacer-hr"></div>
    <div class="actions">
        <button pButton label="Deny request" id="submit-dialog-btn" class="p-button-red" (click)="onReject()"></button>
        <button pButton name="cancel-dialog-btn" id="cancel-dialog-btn" class="outline-btn"
            (click)="onPopupClose()">Cancel</button>
    </div>
</p-dialog>

<p-confirmDialog [closable]="false"></p-confirmDialog>
<p-toast></p-toast>