<div class="header">
    <h2>Edit Subsidiary Platform</h2>
    <span class="sub-header">All fields are required except where stated</span>
</div>
<div class="content">
    <form [formGroup]="myForm" *ngIf="platform">
        <div class="row">
            <div class="col">
                <div class="form-group-row">
                    <div class="form-group-row-col">
                        <label for="organizationNm">Platform Name</label>
                    </div>
                    <div class="form-group-row-col">
                        <input placeholder="Enter Value" [ngClass]="'full-width-text-field'" type="text" pInputText
                            formControlName="organizationNm" id="organizationNm" name="organizationNm" />
                    </div>
                    <div class="validation-errors" *ngIf="!organizationNmControl.pristine">

                        <small id="requiredOrganizationName" *ngIf="organizationNmControl.errors?.['required']">
                            Platform Name is Required
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group-row">
                    <div class="form-group-row-col">
                        <label for="organizationCd">Platform Code</label>
                    </div>
                    <div class="form-group-row-col">
                        <input placeholder="Enter Value" [ngClass]="'full-width-text-field'" type="text" pInputText
                            formControlName="organizationCd" id="organizationCd" name="organizationCd" />
                    </div>
                    <div class="validation-errors" *ngIf="!organizationCdControl.pristine">

                        <small id="requiredOrganizationCd" *ngIf="organizationCdControl.errors?.['required']">
                            Platform Code is Required
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group-row">
                    <div class="form-group-row-col">
                        <label for="platformType">Platform Type</label>
                    </div>
                    <div class="form-group-row-col">
                        <p-radioButton name="isActive" id="isActive-true" [value]="true" label="Active"
                            formControlName="isActive"></p-radioButton> &nbsp;
                        <p-radioButton name="isActive" id="isActive-false" [value]="false" label="Disabled"
                            formControlName="isActive"></p-radioButton>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="actions" *ngIf="myForm">
    <button pButton (click)="onSave()" [disabled]="!myForm.valid">Save</button>
    <button pButton class="p-button-transparent" (click)="onCancel()">Cancel</button>
</div>