:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F2F2F2;
    align-items: center;
}

.header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;

    .header-top {
        border-bottom: 2px solid #FCBA19;
        background-color: #003366;
        height: 66px;
        padding: 0 184px;
        display: flex;
        justify-content: space-between;

        .tile-container {
            display: flex;
            grid-template-columns: 1fr auto 1fr;
            grid-template-rows: auto 3fr auto;

            .logo-container {
                background-image: url(../../../assets/images/main_logo.svg);
                width: 166.4px;
                height: 64px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
                grid-column: 1;
            }

            .main-title {
                align-self: center;
                font-size: 24px;
                color: #FFFFFF;
            }
        }

        .user-container {
            width: 360px;
            height: 100%;
            font-size: 16px;
            color: #FFFFFF;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: end;

            button {
                padding: 12px;
                margin-left: 12px;
            }
        }
    }

    .header-menu {
        background-color: #38598A;
        height: 52px;
        padding: 0 184px;

        .menu-container {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
}

.content {
    margin: 0 184px;
    width: calc(100% - 368px);
    overflow-y: auto;
    display: flex;
    min-height: calc(100vh - 158px);
}

.footer {
    border-top: 2px solid #FCBA19;
    background-color: #003366;
    padding: 0.5rem 1rem;
    color: #FFFFFF;

    width: 100%;
    position: sticky;
    bottom: 0;
    z-index: 10;
}