<div class="header">
    <div class="header-top">
        <div class="tile-container">
            <div class="logo-container"></div>
            <div class="main-title">Short-Term Rental Data Portal</div>
        </div>
        <div *ngIf="userDataService.currentUser" class="user-container">
            {{userDataService.currentUser.displayName || 'Unknown User'}} <button pButton icon="pi pi-angle-down"
                (click)="op.toggle($event)"></button>
            <p-overlayPanel #op>
                <button pButton [iconPos]="'right'" class="p-button-transparent" icon="pi pi-sign-out"
                    (click)="logout()">Logout</button>
            </p-overlayPanel>
        </div>
    </div>
    <div class="header-menu">
        <div class="menu-container">
            <p-menubar [model]="items"></p-menubar>
        </div>
    </div>
</div>

<div class="content">
    <router-outlet />
</div>
<div class="footer">
    <div class="cc">© 2024 Government of British Columbia.</div>
</div>

<p-toast [life]="25000"></p-toast>