<h2>Home</h2>
<div class="cards">
    <div class="dashboard-card" *ngFor="let card of cardsToDisplay" [id]="card.boxId">
        <div class="card-header">{{card.title}}</div>
        <div class="card-content">{{card.description}}</div>
        <div class="card-actions">
            <button pButton [disabled]="card.isButtonDisabled" [id]="card.buttonId"
                (click)="navigateTo(card.route)">{{card.buttonText}}</button>
        </div>
    </div>
</div>
<br>

<div class="listings-upload-history">
    <app-listing-upload-history-table [isSmall]="true"></app-listing-upload-history-table>
</div>