<div class="title">Upload Platform Data</div>
<div class="sub-title">
    All fields are required except where stated
</div>
<form [formGroup]="myForm" *ngIf="currentUser">
    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select Report Type</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="uploadDeliveryTypes" formControlName="uploadDeliveryType"
                placeholder="Select Report Type" id="uploadDeliveryType" name="uploadDeliveryType"
                [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!uploadDeliveryTypeControl.pristine && uploadDeliveryTypeControl.errors">
            <small id="uploadDeliveryType" *ngIf="uploadDeliveryTypeControl.errors?.['required']">Report type is
                required</small>
        </div>
    </div>
    <div class="form-group-row" *ngIf="currentUser.organizationType !== 'Platform'">
        <div class="form-group-row-col">
            <label for="platformId">Select Reporting Platform Name</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="platformOptions" formControlName="platformId" placeholder="Select platform"
                id="platformId" name="platformId" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors"
            *ngIf="!platformIdControl.pristine && platformIdControl.errors">
            <small id="requiredPlatformId" *ngIf="platformIdControl.errors?.['required']">Platform name is
                required</small>
        </div>
    </div>

    <div class="form-group-row">
        <div class="form-group-row-col">
            <label for="platformId">Select Reporting Month</label>
        </div>
        <div class="form-group-row-col">
            <p-dropdown [options]="monthsOptions" formControlName="month" placeholder="Select month" id="month"
                name="month" [required]="true"></p-dropdown>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!monthControl.pristine && monthControl.errors">
            <small id="requiredPlatformId" *ngIf="monthControl.errors?.['required']">Platform recipient is
                required</small>
        </div>
    </div>

    <div class="form-group-row upload-row">
        <div class="form-group-row-col">
            <label for="platformId">Upload Your Platform Data (.CSV File Only)</label>
        </div>
        <div class="form-group-row-col upload-container">
            <app-upload-file #componentRef [extension]="'.csv'" [sizeLimit]="maxFileSize"
                (filesSelected)="onFileSelected($event, componentRef)"></app-upload-file>
            <div class="file-name">{{uploadedFile?.name ||'No file selected'}}</div>
        </div>
        <div class="form-group-row-col validation-errors" *ngIf="!fileControl.pristine && fileControl.errors">
            <small id="file-error-text" *ngIf="fileControl.errors?.['required']">File is required</small>
        </div>
    </div>

    <div class="form-group-row actions">
        <button [disabled]="myForm.invalid || isUploadStarted" pButton id="upload-btn" name="upload-btn"
            (click)="onUpload()">Upload</button>
    </div>
</form>