:host {
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: #FFFFFF;

    .title {
        font-size: 24px;
        font-family: 'BcSans-bold';
        margin-bottom: 8px;
    }

    .sub-title {
        font-size: 16px;
        font-family: 'BcSans-bold';
        margin-bottom: 18px;
    }

    .form-group-row {
        width: 100%;

        .upload-container {
            width: 100%;
            display: flex;
            gap: 12px;

            p-fileupload {
                margin-right: 12px;
                display: inline-block;
            }
        }

        .validation-errors {
            small {
                color: #D32F2F;
            }
        }

        label {
            line-height: 26px;
        }

        &.form-spacer {
            padding-top: 0;
            margin-top: -14px;
        }

        &.inline-block {
            width: 368px;
            margin-right: 24px;
            display: inline-block;

            &:last-of-type {
                margin-right: 0;
            }
        }

        span.info-tooltip {
            background-image: url(../../../../assets/images/info-icon.svg);
            border-radius: 50%;
            width: 16px;
            height: 16px;
            line-height: 26px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            margin-right: 4px;
        }

        &-col {
            font-size: 16px;

            &.has-checkbox {
                :first-child {
                    margin-right: 8px;
                }

                padding-bottom: 16px;
            }

            &:not(&.has-checkbox) {
                width: 100%;

                &:last-of-type {
                    padding: 8px 0 16px 0;
                }
            }


        }
    }

    .actions {
        display: flex;
        justify-content: end;

        .p-button:last-of-type {
            margin-left: 8px;
        }
    }
}