:host {
    width: 100%;
    background-color: white;

    .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
    }

    .content {
        p-paginator {
            display: flex;
            justify-content: end;
        }

        th {
            font-size: 14px;
            font-family: 'BcSans-bold';

            &.sortable-header {
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }

                i {
                    vertical-align: middle;
                }
            }
        }

        td {
            .toggle-row-btn:disabled {
                opacity: .2;
            }

            &.status {
                padding-left: 2px;
                color: #CE3E39;

                &.active {
                    color: #42814A;
                }
            }

            .edit-icon {

                i {
                    padding: 5px;
                    text-decoration: none;
                    background-color: #053662;
                    border-color: #053662;
                    color: #FFFFFF;
                    border-radius: 4px;
                }

                &:visited {
                    i {
                        background-color: #3470B1;
                        border-color: #3470B1;
                        color: #FFFFFF;
                    }
                }
            }
        }
    }
}