<div class="top-block">
    <h2 class="title">Listings</h2>
    <div class="search-container">
        <p-dropdown [options]="searchColumns" id="search-by-drd" [(ngModel)]="searchColumn"
            class="search-by-select"></p-dropdown>
        <span class="p-input-icon-right search-input-container">
            <button pButton id="search-submit-btn" (click)="onSearch()"> <i class="pi pi-search"></i></button>
            <input type="text" id="search-term-inp" (keydown.enter)="onSearch()" class="search-input"
                placeholder="Search" pInputText [(ngModel)]="searchTerm" />
        </span>
    </div>
    <div class="legend-container">
        <button pButton id="view-more-history-btn" class="p-button-link" (click)="showLegend()">
            <i class="pi pi-question-circle"></i>&nbsp;Legend
        </button>
    </div>
</div>
<div class="actions" *ngIf="!isCEU">
    <button pButton [disabled]="!selectedListings.length" id="send_delisting_notice_btn" (click)="onNoticeOpen()">
        Send Notice of Non-Compliance
    </button>
    <button pButton [disabled]="!selectedListings.length" id="send_takedown_request_btn" (click)="onTakedownOpen()">
        Send Takedown Request
    </button>
</div>
<div class="content">
    <p-panel class="listing-table-panel">
        <ng-template pTemplate="header">
            <div class="rows-info-wrapper">
                <span class="panel-header-small"
                    [style.visibility]="selectedListings.length ? 'visible' : 'hidden'">Selected
                    {{selectedListings.length}} items. <button pButton class="p-button-link zero-padding small-text"
                        (click)="unselectAll()">Unselect All</button>
                </span>
                <span class="panel-header-small" *ngIf="currentPage">Showing {{ currentPage.itemCount}} of
                    {{currentPage.totalCount || 0}} listings</span>
            </div>
        </ng-template>

        <p-table #table [value]="listings" [scrollable]="true" scrollHeight="{{isCEU?'550px':'500px'}}"
            [(selection)]="selectedListings" styleClass="p-datatable-sm" [tableStyle]="{ 'min-width': '50rem' }"
            [selectionPageOnly]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width: 4rem">
                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                    </th>
                    <th class="sortable-header" id="status_header"
                        [class.sorted]="this.sort && this.sort.prop === 'listingStatusType'"
                        (click)="onSort('listingStatusType')">Status
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'listingStatusType' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'listingStatusType' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="platformName_header"
                        [class.sorted]="this.sort && this.sort.prop === 'offeringOrganizationNm'"
                        (click)="onSort('offeringOrganizationNm')">Platform
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'offeringOrganizationNm' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'offeringOrganizationNm' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="listingId_header"
                        [class.sorted]="this.sort && this.sort.prop === 'platformListingNo'"
                        (click)="onSort('platformListingNo')">
                        Listing ID
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'platformListingNo' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'platformListingNo' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th style="text-align: center;">Listing Details</th>

                    <th class="sortable-header" id="addressNormalized_header"
                        [class.sorted]="this.sort && this.sort.prop === 'matchAddressTxt'"
                        (click)="onSort('matchAddressTxt')">Address (Best Match)
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'matchAddressTxt' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'matchAddressTxt' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="entireUnit_header"
                        [class.sorted]="this.sort && this.sort.prop === 'isEntireUnit'"
                        (click)="onSort('isEntireUnit')">
                        Entire Unit?
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'isEntireUnit' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'isEntireUnit' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="nightsStayed_header"
                        [class.sorted]="this.sort && this.sort.prop === 'nightsBookedYtdQty'"
                        (click)="onSort('nightsBookedYtdQty')">Nights Stayed (YTD)
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'nightsBookedYtdQty' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'nightsBookedYtdQty' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="license_header"
                        [class.sorted]="this.sort && this.sort.prop === 'businessLicenceNo'"
                        (click)="onSort('businessLicenceNo')">Business
                        Licence
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'businessLicenceNo' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'businessLicenceNo' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="lastAction_header"
                        [class.sorted]="this.sort && this.sort.prop === 'lastActionNm'"
                        (click)="onSort('lastActionNm')">
                        Last
                        Action
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'lastActionNm' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'lastActionNm' && this.sort.dir === 'asc'"></i>
                    </th>

                    <th class="sortable-header" id="lastActionDate_header"
                        [class.sorted]="this.sort && this.sort.prop === 'lastActionDtm'"
                        (click)="onSort('lastActionDtm')">
                        Last Action Date
                        <i class="pi pi-angle-down"
                            *ngIf="this.sort && this.sort.prop === 'lastActionDtm' && this.sort.dir === 'desc'"></i>
                        <i class="pi pi-angle-up"
                            *ngIf="this.sort && this.sort.prop === 'lastActionDtm' && this.sort.dir === 'asc'"></i>
                    </th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-row>
                <tr>
                    <td>
                        <p-tableCheckbox [value]="row"></p-tableCheckbox>
                    </td>
                    <td>
                        <div [ngSwitch]="row.listingStatusType" class="align-center status-col">
                            <div *ngSwitchCase="'N'" class="status-circle status-new">
                                N
                            </div>
                            <div *ngSwitchCase="'A'" class="status-circle status-active">
                                A
                            </div>
                            <div *ngSwitchCase="'I'" class="status-circle status-inactive">
                                I
                            </div>
                            <div *ngIf="row.isTakenDown" class="status-circle status-takedown-complete">
                                T
                            </div>
                            <div *ngIf="row.isLgTransferred" class="status-circle status-reassigned">
                                R
                            </div>
                        </div>
                    </td>
                    <td>{{ row.offeringOrganizationNm }}</td>
                    <td>
                        <a target="_blank" [href]="row.platformListingUrl">{{ row.platformListingNo }}</a>
                    </td>
                    <td class="align-center">
                        <a pButton class="details-button-with-icon" target="_blank"
                            [routerLink]="'/listing/'+row.rentalListingId"><i class="pi pi-list"></i></a>
                    </td>
                    <td [class.low-address-score-match]="row.matchScoreAmt<addressLowScore">
                        <div class="address-col">
                            <div class="address-text">
                                {{ row.matchAddressTxt }}
                            </div>
                            <i class="pi pi-info-circle" pTooltip="Low Address Match Confidence"
                                *ngIf="row.matchScoreAmt<=addressLowScore"></i>
                            <p-tag *ngIf="row.isChangedAddress" value="Updated" class="updated-tag"></p-tag>
                        </div>
                    </td>
                    <td>{{ row.isEntireUnit?'Yes':'No' }}</td>
                    <td>{{ row.nightsBookedYtdQty }}</td>
                    <td>{{ row.businessLicenceNo }}</td>
                    <td>{{ row.lastActionNm }}</td>
                    <td>{{ row.lastActionDtm |date }}</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="11">No listings matched your search. Please try again. </td>
                </tr>
            </ng-template>
        </p-table>
        <p-paginator class="listings-paginator" *ngIf="currentPage" (onPageChange)="onPageChange($event)"
            [rows]="currentPage.pageSize || 25" [totalRecords]="currentPage.totalCount || 0" [showPageLinks]="false"
            [showCurrentPageReport]="true" [showFirstLastIcon]="true" [rowsPerPageOptions]="[10, 25, 50, 100]"
            [currentPageReportTemplate]="'Rows per page: {rows} &nbsp; {first}-{last} of {totalRecords}'"></p-paginator>
    </p-panel>

    <p-dialog header="Legend" [modal]="true" [(visible)]="isLegendShown" [style]="{width: '50vw'}">
        <span>
            <strong>Status:</strong> Status of the listing using the following categories:
            <ul>
                <li>New (N): Listing reported for the first time in current monthly data</li>
                <li>Active (A): Listing appeared in previous and current monthly data</li>
                <li>Inactive (I): Listing appeared in previous but not current monthly data </li>
                <li>Takedown Complete (T): Platform confirmed takedown of the listing</li>
                <li>Reassigned (R): Address (best match) was updated to a new jurisdiction</li>
            </ul>
        </span>
        <p>
            <strong>Listing ID:</strong> Platform ID number for the listing.
        </p>
        <p>
            <strong>Address (Best Match):</strong> Best physical address match provided by the BC Address Geocoder based
            on the address from the platform listing (accuracy of {{addressLowScore}}% or above).
        </p>
        <p>
            <strong>Address (from platform listing):</strong> Property address of the short-term rental accommodation
            provided to the platform by the host. May be incomplete or inaccurate.
        </p>
        <p>
            <strong>Entire Unit:</strong> Is the listing for an entire dwelling unit or a bedroom within the dwelling
            unit.
        </p>
        <p>
            <strong>Nights Stayed:</strong> The number of nights short-term rental services were provided in the
            reporting month.
        </p>
        <p>
            <strong>Separate Reservations:</strong> The number of separate reservations that were "completed" in the
            reporting month (ie. where the guest has checked out within the month). Reservations that span more than one
            month will be reported in the month the guest checks out.
        </p>
        <p>
            <strong>Business licence:</strong> Business licence number provided by the host on the listing, if
            applicable.
        </p>
        <p>
            <strong>Property Host:</strong> A person who is legally entitled to possession of the property where STR
            accommodation is provided and acts as the STR operator responsible for arranging the short term rental
            services.
            <i>See Short-term Rental Accommodations Act</i> for definition.
        </p>
        <p>
            <strong>STR Host:</strong> Any person who acts as the STR operator, including the property host and any
            other persons who act on their behalf to arrange the short-term rental services (e.g., host, co-host,
            property manager).
            <i>See Short-term Rental Accommodations Act</i> for definition.
        </p>
    </p-dialog>
</div>