:host {
    width: 100%;
    flex: 0 0 100%;
    padding: 0 24px 24px 24px;
    background-color: #FFFFFF;

    .takedown-and-notice-wrapper {
        position: absolute;
        overflow: auto;
        top: 118px;
        left: 184px;
        background-color: #FFFFFF;
        width: calc(100% - 368px);
        height: calc(100% - 157px);
        z-index: 2;

        padding: 24px;
        padding-top: 0;

        .header {
            height: 60px;
            width: 100%;
        }

        .content {
            overflow: auto;
            width: 100%;
            height: calc(100% - 60px);
        }
    }

    .top-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        line-height: 32px;
        align-items: center;

        .search-container {

            .vertical-spacer {
                height: 24px;
                width: 150px;
            }

            display: flex;
            align-items: center;
            height: 46px;

            .search-input-container {
                height: 45px;
                display: flex;
                gap: 12px;

                button {
                    &.search-submit-btn {
                        position: absolute;
                        right: 0px;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        height: 100%;
                        width: 45px;
                        margin: 0;
                        padding: 0;

                        border-radius: 6px;
                        border-top-left-radius: 0;
                        border-bottom-left-radius: 0;
                    }

                    &.search-clear-btn {
                        position: absolute;
                        right: 38px;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &.filter-open-btn {
                        padding-left: 6px;
                        padding-right: 6px;

                        &.filter-set {
                            color: #255A90;
                        }
                    }
                }

                input.search-input {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    font-size: 16px;
                }
            }
        }

        .legend-container {
            width: 100px;

            button {
                color: #053662;
                font-size: 16px;

                .pi {
                    font-size: 14px;
                }
            }
        }
    }

    .actions {
        padding-bottom: 12px;

        button {
            margin-right: 6px;
        }
    }

    .content {
        p-panel {
            .rows-info-wrapper {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .panel-header-small {
                    font-size: small;

                    &:not(:last-child) {
                        margin-right: 24px;
                    }
                }
            }
        }

        tr {
            th {
                font-size: 14px;
                font-family: 'BcSans-bold';

                &.sortable-header {
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    i {
                        vertical-align: middle;
                    }
                }
            }

            td {
                font-size: 12px;

                .listing-id-link {
                    color: #053662;

                    &:visited {
                        color: #3470B1;
                    }
                }

                .details-button-with-icon {
                    padding: 4px;
                    text-decoration: none;
                    background-color: #053662;
                    border-color: #053662;
                    color: #FFFFFF;

                    &:visited {
                        background-color: #3470B1;
                        border-color: #3470B1;
                        color: #FFFFFF;
                    }
                }

                &.align-center {
                    text-align: center;
                }

                .status-col {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                }

                .address-col {
                    width: 100%;
                    display: flex;
                    gap: 8px;
                    align-items: center;
                }

                .address-text {
                    display: flex;
                    align-items: center;
                }

                &.low-address-score-match {
                    color: #CE3E39;

                    i {
                        font-weight: 600;
                    }
                }

                .status-circle {
                    background-color: #FFFFFF;
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    line-height: 20px;
                    color: #FFFFFF;
                    font-family: 'BcSans-bold';
                    font-size: 14px;

                    &.status-new {
                        background-color: #F8BA47;
                        color: #2D2D2D;
                    }

                    &.status-active {
                        background-color: #42814A;
                    }

                    &.status-inactive {
                        background-color: #605E5C;
                    }

                    &.status-takedown-complete {
                        background-color: #2D2D2D;
                    }

                    &.status-reassigned {
                        background-color: #255A90;
                    }
                }

                .status-flag {
                    width: 20px;
                    height: 20px;
                    background-position: center center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    &.status-takedown-complete {
                        background-image: url(../../../../assets/images/flag-black.svg);
                    }

                    &.status-reassigned {
                        background-image: url(../../../../assets/images/flag-blue.svg);
                    }
                }
            }
        }

        p-paginator {
            display: flex;
            justify-content: end;
        }
    }

    .row {
        display: flex;
        gap: 8px;
    }
}