@import 'primeng/resources/themes/lara-light-blue/theme.css';
@import 'primeng/resources/primeng.css';
@import "primeicons/primeicons.css";

@font-face {
    font-family: 'BcSans-regular';
    src: url('assets/fonts/BcSansFont_Web/2023_01_01_BCSans-Regular_2f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BcSans-bold';
    src: url('assets/fonts/BcSansFont_Web/2023_01_01_BCSans-Bold_2f.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BcSans-light';
    src: url('assets/fonts/BcSansFont_Web/2023_03_14_BCSans-Light_2g.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'BcSans-regular';
    font-weight: 400;
}

body {
    margin: 0;

    .spacer-hr {
        height: 0px;
        width: 100%;
        border-bottom: 1px solid #D8D8D8;
        margin: 12px 0;
    }

    .p-chips {
        width: 760px;
    }

    .p-dropdown,
    .p-inputtext {
        width: 368px;

        &.long-text-field {
            width: 760px;
        }

        &.full-width-text-field {
            width: 100%;

            .p-dropdown {
                width: 100%;
            }
        }
    }

    p-dropdown,
    input {
        &.full-width-text-field {
            width: 100%;

            .p-dropdown {
                width: 100%;
            }
        }

        &.width340px {
            width: 340px;

            .p-inputtext,
            .p-dropdown {
                width: 340px;
            }
        }
    }

    p-panel {
        &.listing-table-panel {
            .p-panel-header {
                padding: .6rem 1.2rem;
            }
        }
    }

    p-dropdown {
        &.search-by-select {
            .p-dropdown {
                height: 45px;
            }

            .p-dropdown {

                width: 200px;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right: none;

                .p-dropdown-label {
                    font-size: 14px;
                    line-height: 22px;
                }

                p-dropdownitem {
                    .p-dropdown-item {
                        font-size: 14px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    .p-element.p-button.p-component {
        border-radius: 4px;

        &:not(.p-button-link) {
            background-color: #053662;
            border-color: #053662;

            &.p-button-outlined {
                background-color: #FFFFFF;
                border-color: #353433;
                color: #353433;
            }

            &.p-button-transparent {
                background-color: transparent;
                border-color: transparent;
                color: #353433;

                &:hover {
                    border-color: #353433;
                }
            }

            &.p-button-red {
                background-color: #CE3E39;
                border-color: #CE3E39;
                color: #FFFFFF;
            }
        }

        &.outline-btn {
            background-color: transparent;
            color: #053662;
        }

        &.p-button-link {
            .p-button-label {
                color: #FFFFFF;
                font-size: 16px;
            }

            &:hover {
                text-decoration-line: underline;
            }
        }

        &.p-dialog-header-icon {
            color: #FFFFFF;
        }

        &:disabled {
            background-color: #EDEBE9;
            color: #9F9D9C;
            border-color: #EDEBE9;
        }

        &.table-small-btn {
            padding: 5px 10px;
            font-size: 14px;
        }
    }

    p-inputswitch.table-small-switch {
        .p-inputswitch {
            transform: scale(.75);

            &.p-disabled {
                .p-inputswitch-slider {
                    background-color: #9F9D9C;
                }

                &.p-inputswitch-checked {
                    .p-inputswitch-slider {
                        background-color: #9F9D9C;
                    }
                }
            }

            .p-inputswitch-slider {
                background-color: #CE3E39;
            }

            &.p-inputswitch-checked {
                .p-inputswitch-slider {
                    background-color: #42814A;
                }
            }
        }
    }

    .p-card {
        border-radius: 4px;

        .p-card-body {
            padding: 23px 25px;

            .p-card-title {
                font-family: 'BcSans-regular';
                font-size: 16px;
                font-weight: 700;
                color: #004578;
            }

            .p-card-content {
                padding: 0;
                font-family: 'BcSans-regular';
                font-size: 16px;
            }
        }
    }

    .dashboard-card {
        .p-card {
            .p-card-body {
                min-height: 200px;
            }
        }
    }

    .p-dialog {
        border-radius: 4px;

        .p-dialog-header {
            border-top-right-radius: 4px;
            border-top-left-radius: 4px;
        }

        .p-dialog-content {
            padding-bottom: 1rem;

            &:last-of-type {
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
            }
        }
    }

    .p-menubar {
        background-color: transparent;
        color: #FFFFFF;
        border: none;
        padding: 0;

        .p-highlight.p-menuitem-active,
        .p-focus {
            background-color: #FFFFFF;
            border-radius: 4px;

            .p-menuitem-text,
            .p-submenu-icon {
                color: #053662;
            }
        }

        .p-menuitem-text,
        .p-submenu-icon {
            color: #FFFFFF;
        }

        .p-menuitem-content {
            &:hover {

                .p-menuitem-text,
                .p-submenu-icon {
                    color: #053662;
                }
            }
        }
    }

    p-paginator {

        .p-paginator-rpp-options,
        .p-dropdown-label.p-inputtext,
        p-dropdown {
            width: 100px;
        }

        &.users-paginator {
            .p-paginator.p-component {
                height: 50px;
                padding: 0;
            }

            .p-paginator-element {

                &.p-paginator-prev,
                &.p-paginator-next {
                    svg {
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
    }

    .p-toast {
        min-width: 25rem;
        width: auto;
        max-width: 40rem;
    }

    strong {
        font-weight: 600;
    }
}