:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 10%;

    .message-icon-block {
        align-self: start;
        margin-right: 16px;
    }

    p-card {
        display: flex;
        justify-content: center;
        width: 100%;

        * {
            font-family: 'BcSans-regular';
        }

        .bold-text {
            font-family: 'BcSans-bold';
        }

        .header-container {
            height: 51px;
            background-color: #053662;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: white;
            padding: 10px 25px;
            font-size: 20px;
            line-height: 27px;
        }

        .content-header {
            .text-header {
                padding-bottom: 12px;
            }

            .sub-header {
                padding-bottom: 12px;
            }
        }

        form {
            display: flex;
            justify-content: space-evenly;
            padding-bottom: 12px;

            .form-group-row {
                display: inline-flex;
                flex-direction: column;
                width: 50%;

                &:first-of-type {
                    padding-right: 12px;
                }

                &:last-of-type {
                    padding-left: 12px;
                }

                label {
                    line-height: 26px;
                }

                .validation-errors {
                    small {
                        color: #D32F2F;
                    }
                }
            }

            span.info-tooltip {
                background-image: url(../../../../assets/images/info-icon.svg);
                border-radius: 50%;
                width: 16px;
                height: 16px;
                line-height: 26px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-right: 4px;
            }

            &-col {
                &:first-child {
                    width: 100%;
                }

                font-size: 16px;
                width: 100%;

                &:last-of-type {
                    padding: 8px 0 0 0;
                }
            }
        }
    }
}