<p-card [style]="{ width: '75%' }">
    <ng-template pTemplate="header">
        <div class="header-container bold-text">
            Request Access
        </div>
    </ng-template>
    <div class="content-header">
        <div class="text-header bold-text">Hello, [DisplayName]</div>
        <div class="sub-header">Please identify yourself and your reason for requesting access</div>
    </div>
    <form *ngIf="!hideForm" [formGroup]="myForm">

        <div class="form-group-row inline-block left-block">
            <div class="form-group-row-col">
                <label for="organizationType">What role best describes you?</label>
            </div>
            <div class="form-group-row-col">
                <p-dropdown [options]="roles" formControlName="organizationType" [showClear]="true"
                    placeholder="Please Select..." id="organizationType" name="organizationType"
                    [ngClass]="'full-width-text-field'" [required]="true"></p-dropdown>
            </div>
        </div>

        <div class="form-group-row inline-block right-block">
            <div class="form-group-row-col">
                <label for="organizationName">Your Organization</label>
            </div>
            <div class="form-group-row-col">
                <input placeholder="Enter Name..." [ngClass]="'full-width-text-field'" type="text" pInputText
                    formControlName="organizationName" id="organizationName" name="organizationName" />
            </div>
        </div>

        <div class="form-group-row inline-block form-spacer">
            <div class="form-group-row-col validation-errors" *ngIf="!organizationTypeControl.pristine">

                <small id="requiredOrganizationType" *ngIf="organizationTypeControl.errors?.['required']">Local
                    Role is required
                </small>
            </div>
            <div class="form-group-row-col validation-errors" *ngIf="!organizationNameControl.pristine">

                <small id="requiredOrganizationName" *ngIf="organizationNameControl.errors?.['required']">Local
                    Organization name is
                    required</small>
            </div>
        </div>
    </form>
    <div class="disclaimer">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo nobis molestiae in ducimus quasi qui et
        maxime quaerat rerum mollitia, sunt itaque a, culpa, minima error. Impedit odio blanditiis ab dolorem mollitia,
        dicta provident obcaecati corporis perferendis quaerat atque nisi, ipsa quod, rerum error accusantium. Totam ea
        dignissimos cumque architecto?
    </div>
    <p-messages [(value)]="messages" [enableService]="false" [closable]="false"></p-messages>
    <ng-template pTemplate="footer">
        <button (click)="onRequest()" id="form-submit-btn" pButton pRipple [disabled]="!myForm.valid" label="Review"
            class="p-button-success"></button>
    </ng-template>

</p-card>