:host {
    width: 100%;
    height: 100%;
    padding: 24px;
    background-color: #FFFFFF;

    .title {
        font-size: 24px;
        font-family: 'BcSans-bold';
        margin-bottom: 24px;
    }

    .tile {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: space-between;
        padding: 18px 16px;
        width: 100%;
        height: auto;
        border-radius: 4px;
        box-shadow: 0px 3.2px 7.2px 0px rgba(0, 0, 0, 0.23);
    }

    .row {
        display: flex;
        gap: 8px;

        &.sub-header {
            margin-top: 12px;
        }

        &.file-select {
            margin-top: 12px;
            border-radius: 4px;
            border: 1px solid #353433;
            padding: 4px;
            align-items: center;
        }

        p-table {
            width: 100%;

            th {
                font-family: 'BcSans-bold';

                &.sortable-header {
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }

                    i {
                        vertical-align: middle;
                    }
                }
            }

            td {
                .state-processed {
                    color: #42814A;
                }

                .state-pending {
                    color: #F8BB47;
                }
            }
        }
    }

    .actions {
        display: flex;
        justify-content: start;
        width: 100%;

        .p-button:last-of-type {
            margin-left: 8px;
        }

        &.popup-actions {
            padding-top: 12px;
            justify-content: end;
        }
    }
}